<header>
  <h1>{{ game.mode === 'learn' ? 'Tryb nauki' : 'Tryb testu' }}</h1>
</header>
<div class="row">
  <div class="col-md-8">
    <question data-question="game.current" data-select-callback="game.answered"></question>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="well well-sm">
      <span class="label label-primary" ng-click="game.move(-1)">Poprzednie</span>
      <span class="label label-primary">Pytanie {{game.currentIndex+1}} z {{game.questionsLength()}}</span>
      <span class="label label-primary" ng-click="game.move(1)">Następne</span>
        <span class="label label-default">
          Czas: <timer id="test-timer" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
        </span>
      <button class="btn btn-success btn-xs pull-right" ng-disabled="!game.complated" ng-click="game.done()">
        Koniec
      </button>
    </div>
  </div>
</div>
